@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box; 
}

.navbar {
    width: 100%;
    background-color: azure;
    text-align: center;
}

.playarea {
    width: 380px;
    height: 380px;
    margin: 25px auto;
    border: 1px solid black;
    overflow-wrap: break-word;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
       
}

.playerhands {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.playerhands i {
    padding: 1rem;
    font-size: 100px;
    transition: transform .1s; 
}

.playerhands i:hover {
    transform: scale(1.2);
    color: gray;
}


.reset {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.reset button {
    border: none;
    background-color: white;
    padding: 15px 32px;
    transition-duration: 0.2s;
}

button:hover {
    transform: scale(1.1);
}